{template "content","header"}
<!--main-->
<div class="main">
	<div class="col-left" style="width: 72%;">
    	<div class="crumbs mycrumbs">您所在的位置：<a href="{siteurl($siteid)}">首页</a><span> > </span>{catpos($catid)} 列表</div>
    	{pc:content  action="lists" catid="$catid" order="id DESC" page="$page" num="10"}
        <ul class="list lh24 f14 mylist">
{loop $data $r}
	<li>
        <div class="left">
            <img src="{thumb($r[thumb],90,0)}" width="140" height="100"/>
        </div>
        <div class="right">
            <p class="title"><a href="{$r[url]}" target="_blank"{title_style($r[style])}>{$r[title]}</a></p>
            <p class="dec">{str_cut($r['description'],408)}</p>
        </div>
        <div class="foot">发表于：{date('Y-m-d H:i:s',$r[inputtime])}</div>
    </li>
	<li class="bk20 hr" style="height: 3px;margin-bottom: 20px;"></li>
{/loop}
        </ul>
        <div id="pages" class="text-c" style="text-align: right;">{$pages}</div>
{/pc}
  </div>
  <div class="col-right myright">
      <div class="title">阅读推荐</div>
      <div class="content">
    {pc:content  action="lists" catid="$catid" order="id DESC" num="10"}
        <ul class="list">
        {loop $data $k $v}
            <li>
                <i class="triggle"></i>
                <a href="{$v[url]}" title="{$v[title]}" target="_blank"{title_style($v[style])}>{str_cut($v[title], 48)}</a>
            </li>
        {/loop}
        </ul>
        {/pc}
    </div>
    <div class="search">
        <div class="tab" id="search">
            {php $j=0}
            {php $search_model = getcache('search_model_'.$siteid, 'search');}
            {loop $search_model $k=>$v}
            {php $j++;}
                <!-- <a href="javascript:;" onclick="setmodel({$v['typeid']}, $(this));" style="outline:medium none;" hidefocus="true" {if $j==1 && $typeid=$v['typeid']} class="on" {/if}>{$v['name']}</a>{if $j != count($search_model)}<span> | </span>{/if} -->
            {/loop}
            {php unset($j);}
        </div>
        <i class="news-ser"></i>
        <div class="bd">
            <form action="{APP_PATH}index.php" method="get" target="_blank">
                <input type="hidden" name="m" value="search"/>
                <input type="hidden" name="c" value="index"/>
                <input type="hidden" name="a" value="init"/>
                <input type="hidden" name="typeid" value="{$typeid}" id="typeid"/>
                <input type="hidden" name="siteid" value="{$siteid}" id="siteid"/>
                <input type="text" class="text sertext" name="q" id="q" />
                <i class="iconfont icon-sousuo search"></i>
                <div class="back"></div>
                <input type="submit" value="" class="button listbutton" />
            </form>
        </div>
    </div>
    <div class="adver">
        <script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=12"></script>
    </div>
  </div>
    <!-- <div class="col-auto">
        <div class="box">
            <h5 class="title-2">频道总排行</h5>
             {pc:content action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}
            <ul class="content digg">
				{loop $data $r}
					<li><a href="{$r[url]}" target="_blank">{$r[title]}</a></li>
				{/loop}
            </ul>
            {/pc}
        </div>
        <div class="bk10"></div>
        <div class="box">
            <h5 class="title-2">频道本月排行</h5>
             {pc:content action="hits" catid="$catid" num="8" order="monthviews DESC" cache="3600"}
            <ul class="content rank">
				{loop $data $r}
				<li><span>{number_format($r[monthviews])}</span><a href="{$r[url]}"{title_style($r[style])} class="title" title="{$r[title]}">{str_cut($r[title],56,'...')}</a></li>
				{/loop}
            </ul>
            {/pc}
        </div>
    </div> -->
</div>
{template "content","footer"}